# Server & Security Configuration
PORT=3000
NODE_ENV=production
JWT_SECRET=default_local_dev_secret_mani_school_erp_9921_abc

# WoWSQL Database Credentials
WOWSQL_BASE_URL=https://mani-school-erp-e1d57a54.wowsqlconnect.com
WOWSQL_ANON_KEY=wowsql_anon_UKb-lxFN2jqPmdz5rX2prwwuM_z8Jf4JmG7IwlpO5KA
